<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.listeners.MyListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.jbk.test.JBKtestcases2"/>
      <class name="com.jbk.test.JBKtestcase5"/>
      <class name="com.jbk.test.JBKtestcase6"/>
      <class name="com.jbk.test.JBKtestcases"/>
      <class name="com.jbk.test.JBKtestcase3"/>
      <class name="com.jbk.test.JBKtestcase4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
